<div class="show">
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <h1><%= @cocktail.name %></h1>
  <ul>
    <% @cocktail.doses.each do |d| %>
    <li>
      <%= d.description %>
      <%= d.ingredient.name %>
      <%= link_to "X", dose_path(d),  method: :delete,
        data: { confirm: "Are you sure?" }  %>
      <% end %>
    </li>
  </ul>
  <p><%= link_to "Add a dose to this recipe", new_cocktail_dose_path(@cocktail)  %></p>
  <p><%= link_to "Delete this recipe", cocktail_path(@cocktail), method: :delete,
  data: { confirm: "Are you sure?"} %></p>
</div>


